[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
sphinx = "*"
recommonmark = "*"
requests = "*"
sphinx-rtd-theme = "*"
mds-provider = {path = "."}

[requires]
python_version = "3.6"
