[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]
mds-provider = {path = ".", editable = true}
recommonmark = "*"
requests = "*"
sphinx = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.6"